<h1>Listing list_to_dos</h1>

<table>
  <tr>
    <th>Task</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @list_to_dos.each do |list_to_do| %>
  <tr>
    <td><%= list_to_do.task %></td>
    <td><%= link_to 'Show', list_to_do %></td>
    <td><%= link_to 'Edit', edit_list_to_do_path(list_to_do) %></td>
    <td><%= link_to 'Destroy', list_to_do, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New List to do', new_list_to_do_path %>
